
.DS_Store

.metadata/.lock

.metadata/.log

*.gen

.metadata/.mylyn/.taskListIndex/segments_1

*.zip

.metadata/.plugins/org.eclipse.core.resources/.history/10/5057c44d2c9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/1b/70ae007b289000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/20/708c04092c9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/21/f0ee425d2a9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/3/407bb41ca79200121d02ea3d84ad5a43

.metadata/.plugins/org.eclipse.core.resources/.history/30/50dd46cf1f9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/3e/401d57fb2b9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/49/b0120c402c9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/5/707cfaa12a9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/5/90e720f8229000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/53/40afe4172c9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/55/3005f9672c9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/58/e0359d5c269000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/6/b08c51c82a9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/65/c0b8f9df299000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/68/10a266372c9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/6f/b0569a5e2c9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/75/d0e540fe229000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/84/00570a712c9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/85/70bdb643279000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/86/409f5934239000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/87/60d92e2b209000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/88/30cb71102c9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/9/10d2652d2a9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/97/20f933d62b9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/98/70649612229000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/98/d0b2209b249000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/9c/d0106c2b1d9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/a1/c0a766b02a9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/b1/c0a8db8d2c9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/b2/80a550572c9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/b7/b03485c4259000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/ba/00134511279000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/c0/a0c9c35d289000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/c2/c09f3839289000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/c7/d049a23f2b9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/c8/10ae83c4259000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/cd/602aed8d2b9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/d4/40e49ff2299000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/e/80312edb2a9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/e1/a02f45cf1f9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/e5/2059fae22a9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/eb/c0df4b53249000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/ed/509bdd70249000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/f/8085bdee1f9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.history/fe/108cdd0e2b9000121e00f60000b64bae

.metadata/.plugins/org.eclipse.core.resources/.projects/Aula 02 - LAB 05/.markers

*.dat

*.index

.metadata/.plugins/org.eclipse.core.resources/.projects/Aula 04 - Threads/.markers

*.version

*.tree

*.resources

*.prefs

*.launch

*.xml

*.workspaceId

*.csv

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.txt

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.history

*.properties

*.ini

Aula 02 - LAB 05/.classpath

Aula 02 - LAB 05/.project

*.class

Aula 03 - LAB 05/.classpath

Aula 03 - LAB 05/.project

Aula 04 - Threads/.classpath

Aula 04 - Threads/.project

LTP3/

Aula 05 - Sockets/.classpath

Aula 05 - Sockets/.project

Trab 01 - Bolsa Valores/.classpath

Trab 01 - Bolsa Valores/.project
